.project1 {
    width: 60vw;
    margin: 0 auto;
    height: 450px;
    background-color: rgb(63, 63, 83);
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.project1-title {
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
    font-size: 32px;
    font-weight: bold;
}
.project1-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.project1 button {
    padding: 15px 20px;
    margin: 50px 10px 40px 10px;
    font-size: 22px;
}
.project1-paragraph {
    text-align: center;
    width: 50vw;
    font-size: 20px;
    margin: 0 auto;
}